// généric
body {
  margin: 0;
  background-color: #FFFFFF;
}
img{display: block;}
.altarial {font-family: Arial, sans-serif; color: #222222; }
// header
.header {margin: 0; padding-top: 5px;}
.st-head_txt1{margin: 0; padding: 0; font-family: Verdana, Geneva, sans-serif; font-size:12px; color: #333333;} //